<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>刊登房屋</title>
<link rel="stylesheet" href="style.css">
</head>

<body>

<h1>刊登房屋</h1>

<div class="form">

<input id="title" placeholder="標題">

<input id="price" placeholder="價格(萬)">

<input id="area" placeholder="坪數">

<input id="layout" placeholder="格局 例如3房2廳2衛">

<select id="city">

<option>台北市</option>
<option>新北市</option>
<option>桃園市</option>
<option>台中市</option>
<option>台南市</option>
<option>高雄市</option>

</select>

<input id="image" placeholder="圖片URL">

}
<button onclick="postHouse()">刊登房屋</button>

</div>

<script>

function postHouse(){

let house={

title:document.getElementById("title").value,

price:document.getElementById("price").value,

area:document.getElementById("area").value,

layout:document.getElementById("layout").value,

city:document.getElementById("city").value,

image:document.getElementById("image").value

};

.house img{
width:100%;
max-width:350px;
height:auto;
border-radius:8px;
}

.detail-img{
width:100%;
max-width:800px;
height:auto;
border-radius:10px;
display:block;
margin:auto;
}

let houses=JSON.parse(localStorage.getItem("houses")) || [];

houses.push(house);

localStorage.setItem("houses",JSON.stringify(houses));

alert("刊登成功");

location.href="house-list.html";

}

</script>

</body>
</html>
